body{
<<<<<<< HEAD

	background-image:url(../images/background.png);

}
=======
	background-image:url('../images/background.png');

>>>>>>> 797d3b9b65a3e6fe25cbc790a7dff4975c78b388
input{
	height:25px;
	width:300px;
	margin-right:1%;
}
.header{
	margin-bottom:2%;
	margin-top:5%;
}
h1 div{
	font-family: 'Cabin', sans-serif;
	font-size:2em;
	margin-bottom:5%;
}

.logo{
	margin:0,9%;
	opacity:0.75;
	
}
