body{
<<<<<<< HEAD
	background-image:url(../images/Kerstfoto.png);
=======
	background-image:url(../images/Kerstfoto.png.png);
>>>>>>> 16af2021df10d046811fe0b72decf5a5d6fc2aa8
}
input{
	height:25px;
	width:300px;
	margin-right:1%;
}
.header{
	margin-bottom:2%;
	margin-top:5%;
}
h1 div{
	font-family: 'Cabin', sans-serif;
	font-size:2em;
	margin-bottom:5%;
}

.logo{
	margin:0,9%;
	opacity:0.75;
	
}
